/* body{
    margin: 0; 
    padding: 0;
    background: #04411d;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
} */
.box{
    position: relative;
}

.search_uncursor {
    text-align: center;
}

.input {
    padding: 10px;
    width: 170px;
    height: 80px;
    background: none;
    border: 4px solid green;
    text-decoration-color: white;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: white;
    outline: none;
    transition: .5s;
}

.input::placeholder {
    color: white;
    font-weight: bold; /* Change to the color you prefer */
}
.box:hover input{
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

/* YouTube icon */
#ytb {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 52px;
  border: 2px solid transparent;
  color: #ff1717;
  font-size: 25px;
  transition: 0.3s;
}

#ytb:hover{
  border-radius: 50%;
  border-color: #ff1717;
  box-shadow: 0 0 10px #ff4040;
}

.big_form {
    background-color: lightgray;
    border-radius: 25px;
    width: 100%;
    max-width: 600px;
    margin-left: 0;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 5px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px 4px rgba(50, 50, 93, 0.1),
      2px 8px 20px 2px rgba(50, 50, 93, 0.1), 2px 6px 8px 2px rgba(0, 0, 0, 0.07);
}

.button_head {
    background-color: gray;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.big_form_white {
    background-color: white;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px 4px rgba(50, 50, 93, 0.1),
      2px 8px 20px 2px rgba(50, 50, 93, 0.1), 2px 6px 8px 2px rgba(0, 0, 0, 0.07);
}

.big_form_green {
    background-color: green;
    color: white;
    font-weight: bold;
    width: fit-content;
    padding: 2px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 25px;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    animation: expand2 0.4s ease-out;
    box-shadow: 2px 2px 2px 4px rgba(50, 50, 93, 0.1),
      2px 8px 20px 2px rgba(50, 50, 93, 0.1), 2px 6px 8px 2px rgba(0, 0, 0, 0.07);
}

.counter {
    margin: 0 auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
    font-family: 'Nexa', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    width: 15%;
    min-width: 125px;
    border-bottom: thick solid black;
}

.big_form_gray {
    background-color: gray;
    color: lightgray;
    font-weight: bold;
    width: fit-content;
    padding: 2px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 25px;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px 4px rgba(50, 50, 93, 0.1),
      2px 8px 20px 2px rgba(50, 50, 93, 0.1), 2px 6px 8px 2px rgba(0, 0, 0, 0.07);
}

.big_form_drop {
    background-color: white;
    font-weight: bold;
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 25px;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    box-shadow: 2px 2px 2px 4px rgba(50, 50, 93, 0.1),
      2px 8px 20px 2px rgba(50, 50, 93, 0.1), 2px 6px 8px 2px rgba(0, 0, 0, 0.07);
}

.first2 {
    box-shadow: 2px 2px 2px 4px rgba(50, 50, 93, 0.1),
        2px 8px 20px 2px rgba(50, 50, 93, 0.1), 2px 6px 8px 2px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    background-color: white;
    height: 45px;
    border: 1px solid black;
    padding: 2%;
    font-family: 'Nexa', sans-serif;
    white-space: nowrap;
    /* font-size: 18px; */
    vertical-align: middle;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.link_button {
    background: none;
    font-size: 16px;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    color: blue; /* Set your desired link color */
  }

.req {
    background-color: black;
    color: white;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;
    display: inline-block;
}

.req_header {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;
    display: inline-block;
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.input1 {
    height: 30px;
    width: 70%;
    border-radius: 25px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    margin-top: 0;
    text-align: center;
}

.button_standard {
    background: green;
    font-family: Arial, sans-serif;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 0 auto;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 10%;
    min-width: 100px;
    
}

.image {
    max-width: 100%; /* Ensure the image doesn't exceed its parent's width */
    max-height: 100%; /* Ensure the image doesn't exceed its parent's height */
    width: 55%; 
    height: 65%;/* Set the image's width to 50% of its parent's width */
    height: auto; /* Maintain the image's aspect ratio */
    position: absolute; /* Position the image within the container */
    top: 50%; /* Center the image vertically */
    left: 50%; /* Center the image horizontally */
    transform: translate(-50%, -50%); /* Center the image precisely */
  }

.first2_cor {
    box-shadow: 2px 2px 2px 4px rgba(50, 50, 93, 0.1),
        2px 8px 20px 2px rgba(50, 50, 93, 0.1), 2px 6px 8px 2px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    background-color: green;
    height: 45px;
    border: 1px solid black;
    padding: 2%;
    white-space: nowrap;
    font-family: 'Nexa', sans-serif;
    /* font-size: 18px; */
    vertical-align: middle;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.suffix {
  display: inline;
  
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.user_button {
    border: 2px solid grey;
    cursor: pointer;
    display: block;
    width: 350px;
    max-width: 450px;
    background-color: white;
    position: relative;
    margin: 0 auto;
}

.second2 {
    box-shadow: 2px 2px 2px 4px rgba(50, 50, 93, 0.1),
        2px 8px 20px 2px rgba(50, 50, 93, 0.1), 2px 6px 8px 2px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    height: 45px;
    padding: 2%;
    font-family: 'Nexa', sans-serif;
    /* font-size: 22px; */
    vertical-align: middle;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.second2_cor {
    box-shadow: 2px 2px 2px 4px rgba(50, 50, 93, 0.1),
        2px 8px 20px 2px rgba(50, 50, 93, 0.1), 2px 6px 8px 2px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    background-color: green;
    border: 1px solid black;
    height: 45px;
    padding: 2%;
    font-family: 'Nexa', sans-serif;
    /* font-size: 22px; */
    vertical-align: middle;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.third2 {
    box-shadow: 2px 2px 2px 4px rgba(50, 50, 93, 0.1),
        2px 8px 20px 2px rgba(50, 50, 93, 0.1), 2px 6px 8px 2px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    background-color: white;
    height: 45px;
    padding: 2%;
    font-family: 'Garamond';
    white-space: nowrap;
    font-family: 'Nexa', sans-serif;
    border: 1px solid black;
    /* font-size: 18px; */
    vertical-align: middle;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.third2_cor {
    box-shadow: 2px 2px 2px 4px rgba(50, 50, 93, 0.1),
        2px 8px 20px 2px rgba(50, 50, 93, 0.1), 2px 6px 8px 2px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    background-color: green;
    font-family: 'Nexa', sans-serif;
    height: 45px;
    border: 1px solid black;
    padding: 2%;
    white-space: nowrap;
    font-family: 'Nexa', sans-serif;
    /* font-size: 18px; */
    vertical-align: middle;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes expand {
    0% {
      transform: translate(-50%, -50%) scale(0.75);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }

  @keyframes expand2 {
    0% {
      transform: scale(0.75);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

.button_like {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ccc; /* Gray background color */
  color: #000; /* Text color */
  border: 2px solid #999; /* Border */
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
}

.popup {
    width: 80%;
    box-shadow: 2px 2px 2px 4px rgba(50, 50, 93, 0.1),
    2px 8px 20px 2px rgba(50, 50, 93, 0.1), 2px 6px 8px 2px rgba(0, 0, 0, 0.07);
    border-radius: 25px;
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    animation: expand 0.1s ease-out;
}

.attr_text {
    text-shadow: blue;
}